---

---


<footer class=" w-full bg-gray-800 text-white py-5 px-8">
    <div class="container mx-auto flex items-center justify-between h-1/5">
      <div class="flex items-center">
        <img src="logo.png" alt="Logo" class="h-8 mr-4">
        <h3 class="text-lg font-semibold">Company Name</h3>
      </div>
      <div class="flex items-center space-x-4">
        <div class="flex items-center">
          <h4 class="mr-2">Contact:</h4>
          <a href="mailto:something@gmail.com" class="no-underline">something@gmail.com</a>
        </div>
        <div class="flex items-center">
          <h4 class="mr-2">Socials:</h4>
          <a href="https://www.instagram.com" class="no-underline">Instagram</a>
          <a href="https://www.linkedin.com" class="no-underline ml-2">LinkedIn</a>
        </div>
        <div class="flex items-center">
          <h4 class="mr-2">Works:</h4>
          <a href="https://github.com" class="no-underline">GitHub</a>
          <a href="https://dribbble.com" class="no-underline ml-2">Dribbble</a>
        </div>
      </div>
    </div>
  </footer>
  