---

---


<footer class=" w-full bg-zinc-900 text-white py-5 px-8 max-md:p-0 ">
    <div class="container mx-auto flex items-center justify-between h-1/5 max-md:bg-red-700 max-md:flex-col-reverse max-md:pb-4">

      <div class="flex items-center">
        <img src="https://github.com/AlfonsoGaribay/AlfonsoGaribay.github.io/blob/Astro-branch/src/imgs/portrait-min.jpg?raw=true" alt="Logo" class="h-8 mr-4 rounded-full">
        <h3 class="text-lg font-semibold bg-zinc-700 rounded-t-lg rounded-br-lg px-2 max-lg:text-sm max-lg:py-2 ">I made this with Astro + TailwindCSS </h3>
      </div>

      <div class="flex items-center space-x-4 max-md:flex-col">
        <div class="flex items-center">
          <h4 class="mr-2 text-lg font-bold text-pink-300 ">Contact:</h4>
          <a href="mailto:alfonso.sitemail@gmail.com" class="no-underline">Email</a>
        </div>
        <div class="flex items-center">
          <h4 class="mr-2 text-lg font-bold text-green-300">Social:</h4>
          <a href="https://www.linkedin.com/in/alfonso-garibay/" target="_blank" class="no-underline ml-2">LinkedIn</a>
        </div>
        <div class="flex items-center">
          <h4 class="mr-2 text-lg font-bold text-blue-300">Works:</h4>
          <a href="https://github.com/alfonsogaribay" target="_blank" class="no-underline">GitHub</a>
        </div>
      </div>

    </div>
  </footer>
  